<!-- Main navigation -->
<nav class="md-nav md-nav--primary" data-md-level="0">

    <!-- Site title -->
    <label class="md-nav__title md-nav__title--site" for="__drawer">
        <a href="{{ config.site_url | default(nav.homepage.url, true) | url }}"
           title="{{ config.site_name }}" class="md-nav__button md-logo">
            {% if config.theme.logo.icon %}
            <i class="md-icon">{{ config.theme.logo.icon }}</i>
            {% else %}
            <img src="{{ config.theme.logo | url }}" width="48" height="48" />
            {% endif %}
        </a>
        {{ config.site_name }}

    <!--<label for="Versions">Ver:-->
        <!--<select id="versions" name="versions" onchange="window.location.href=this.value;" style="-->
		<!--position: inherit;-->
		<!--display: inline;-->
		<!--min-width: 25%;-->
		<!--/* width: 120%; */-->
		<!--height: 25px;-->
		<!--padding: 5px 15px 5px 5px;-->
		<!--color: Black;-->
		<!--border: none;-->
		<!--background: transparent;-->
		<!--outline: none;-->
		<!-- -webkit-appearance: none;-->
		<!--z-index: 99;-->
		<!--cursor: pointer;-->
		<!--font-size: 10px;-->
		<!--margin-bottom: 10px;-->
		<!--border: 1px solid black;-->
		<!--overflow: auto-->
	<!--">-->
            <!--<option value="" selected="selected">Select Versions</option>-->
            <!--<option value="/docs/smsotp/2.0.13">2.0.13</option>-->
            <!--<option value="/docs/smsotp/2.0.14">2.0.14</option>-->
            <!--<option value="/docs/smsotp/2.0.15">2.0.15</option>-->
        <!--</select>-->
    <!--</label>-->
    </label>

    <!--<form name="menuform">-->
        <!--<select id="menu2" name="menu2"-->
                <!--onChange="this.options[this.selectedIndex].text && (window.location.href = this.options[this.selectedIndex].value);">-->
                <!--&lt;!&ndash;onChange="top.location.href = this.form.menu2.options[this.form.menu2.selectedIndex].value;check(this.value)">&ndash;&gt;-->
            <!--<option value="" selected="selected">Select Versions</option>-->
            <!--<option value="/docs/smsotp/2.0.13">2.0.13</option>-->
            <!--<option value="/docs/smsotp/2.0.14">2.0.14</option>-->
            <!--<option value="/docs/smsotp/2.0.15">2.0.15</option>-->
        <!--</select>-->
    <!--</form>-->

<!--<script>-->
    <!--function check(src) {-->
            <!--console.log("hello");-->
           <!--var sel = document.getElementById("menu2");-->
           <!--console.log(sel);-->
           <!--var opt = sel.options[sel.selectedIndex];-->
           <!--console.log(opt.value);-->
           <!--console.log(opt.text);-->
           <!--document.getElementById("menu2").innerHTML = opt.selected;-->
    <!--}-->
<!--</script>-->

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}
</style>


<ul>
    <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn" onclick="myFunction()">Versions</a>
    <div class="dropdown-content" id="myDropdown">
      <a href="http://127.0.0.1:8000/docs/smsotp/2.0.13">2.0.13</a>
      <a href="http://127.0.0.1:8000/docs/smsotp/2.0.14">2.0.14</a>
    </div>
  </li>
</ul>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (var d = 0; d < dropdowns.length; d++) {
      var openDropdown = dropdowns[d];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

    <!-- Repository containing source -->
    {% if config.repo_url %}
    <div class="md-nav__source">
        {% include "partials/source.html" %}
    </div>
    {% endif %}

    <!-- Render item list -->
    <ul class="md-nav__list" data-md-scrollfix>
        {% for nav_item in nav %}
        {% set path = "nav-" + loop.index | string %}
        {% set level = 1 %}
        {% include "partials/nav-item.html" %}
        {% endfor %}
    </ul>
</nav>
